@page "/"


@using System.Globalization

@*Comentário*@
<h1>Hello, @nome</h1>
<h1>Data e Hora: @DateTime.Today.ToString("dd/MM/yyyy")</h1>
<h1>Dia da Semana: @DiaSemana.ToLower() </h1>
<hr />
<h2>@Saudacao(@nome)</h2>
<hr />
<button @onclick="@(() => Console.WriteLine("Fui clicado"))">Clique aqui</button>

@code{

    //Estou comentando o código
    string nome = "Alexandre";
    DateTime dia = DateTime.Now;
    CultureInfo cultura = new CultureInfo("pt-BR");
    string DiaSemana => cultura.DateTimeFormat.GetDayName(dia.DayOfWeek);


    private string Saudacao(string nome)
    {
        var saudacao = $"Bem vindo, {nome} !";
        return saudacao;
    }

}
