@page "/produto"
@using BlazorApp_Razor.Shared.Entity
@using System.Globalization;


<!DOCTYPE html>
<html>
<head>
    <title>Dados do Produto</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .produto-container {
            border: 1px solid #ccc;
            padding: 10px;
            max-width: 400px;
            margin: 0 auto;
        }
        .label {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <h3>Exemplo de Produto</h3>

    <div class="produto-container">
        <div class="label">ID:</div>
        <div id="produto-id">@Produto.Id</div>
        
        <div class="label">Nome:</div>
        <div id="produto-nome">@Produto.Nome</div>
        
        <div class="label">Preço:</div>
        <div id="produto-preco">@Produto.Preco.ToString("N2", new CultureInfo("pt-BR"))</div>
        
        <div class="label">Data de Cadastro:</div>
        <div id="produto-data">@Produto.DataCadastro.ToString("dd/MM/yyyy")</div>
        
        <div class="label">Ativo:</div>
        <div id="produto-ativo">@Produto.Ativo</div>
    </div>

    <hr />

     <h3>Lista de Produtos (foreach)</h3>

    @foreach(var produto in GetProdutos())
    {
        <div class="produto-container">
            <div class="label">ID:</div>
            <div id="produto-id">@produto.Id</div>

            <div class="label">Nome:</div>
            <div id="produto-nome">@produto.Nome</div>

            <div class="label">Preço:</div>
            <div id="produto-preco">@produto.Preco.ToString("N2", new CultureInfo("pt-BR"))</div>

            <div class="label">Data de Cadastro:</div>
            <div id="produto-data">@produto.DataCadastro.ToString("dd/MM/yyyy")</div>

            <div class="label">Ativo:</div>
            <div id="produto-ativo">@produto.Ativo</div>
        </div>
    }

    <h3>Lista de Produtos (for)</h3>

    @for(var i = 0; i < Produtos.Count; i++)
    {
        <span> Produto número : @(i + 1) </span>
        <div class="produto-container">
            <div class="label">ID:</div>
            <div id="produto-id">@Produtos[i].Id</div>

            <div class="label">Nome:</div>
            <div id="produto-nome">@Produtos[i].Nome</div>

            <div class="label">Preço:</div>
            <div id="produto-preco">@Produtos[i].Preco.ToString("N2", new CultureInfo("pt-BR"))</div>

            <div class="label">Data de Cadastro:</div>
            <div id="produto-data">@Produtos[i].DataCadastro.ToString("dd/MM/yyyy")</div>

            <div class="label">Ativo:</div>
            <div id="produto-ativo">@Produtos[i].Ativo</div>
        </div>
    }

</body>
</html>



@code {

    public Produto Produto { get { return GetProduto(); } }

    public List<Produto> Produtos { get { return GetProdutos(); } }

    private Produto GetProduto()
    {
        return new Produto
            {
                Id = 1,
                Nome = "Violão",
                Preco = 2500.00m,               
                DataCadastro = DateTime.Now,
                Ativo = true
            };
    }

    private List<Produto> GetProdutos()
    {
        return new List<Produto>()
        {
            new Produto()
            {
                Id = 1,
                Nome = "Violão",
                Preco = 2500.00m,
                DataCadastro = DateTime.Now,
                Ativo = true
            },
             new Produto()
            {
                Id = 2,
                Nome = "Guitarra",
                Preco =3500.00m,
                DataCadastro = DateTime.Now,
                Ativo = true
            },
             new Produto()
            {
                Id = 3,
                Nome = "Teclado",
                Preco = 6500.00m,
                DataCadastro = DateTime.Now,
                Ativo = true
            },
             new Produto()
            {
                Id = 4,
                Nome = "Saxofone",
                Preco = 4500.00m,
                DataCadastro = DateTime.Now,
                Ativo = true
            }
        };
    }

}

