@page "/fetchdata"

@using BlazorAppDemo.Data
@inject WeatherForecastService ForecastService

<h1>

    <Aviso Exibir="Exibir">
        @Mensagem
    </Aviso>
</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <GridComponent Itens="@forecasts">
        <Cabecalho>
            <th>Data</th>
            <th>Temperatura (Celsius)</th>
            <th>Temperatura (Fahrenheit)</th>
            <th>Resumo</th>
        </Cabecalho>
        <Linha Context="forecast">
            <td>@forecast.Date</td>
            <td>@forecast.TemperatureC</td>
            <td>@forecast.TemperatureF</td>
            <td>@forecast.Summary</td>
        </Linha>
        <Rodape>
            <td colspan="4">
                <Aviso Exibir=Exibir>
                    @Mensagem
                </Aviso>
            </td>
        </Rodape>
    </GridComponent>  
}

@code {
    bool Exibir = true;

    [Parameter]
    public string Mensagem { get; set; } = "Previsão do Tempo - Janeiro";

    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
